#root {
  margin: 0 auto;
  text-align: center;
}
.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:0.5rem;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(46, 46, 46));
  border-bottom: 2px solid black;
  z-index: 3;
  overflow: hidden;
}
.sticky{
  position:sticky;
  top: 0;
  background-color: rgb(36,36,36);
}
.secondSticky{
  position:sticky;
  top:0;
  background-color: rgb(20,20,20);
}
.flexLeft{
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  font-size: large;
  flex: 4;
  z-index: 1;
}
.logo{
  max-width: 3rem;
  background-color: white;
  transform: scaleX(-1);
}
.warning{
  color: rgb(237, 102, 102);
  background-color: rgba(200, 200, 200, 0.283);
  padding:0.3rem;
  border-radius: 0.5rem;
}
.universalStyle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  align-content: center;
  background-color: black;
  width:100%;
  position:relative;
  overflow: hidden;
}
.stickyContainer{
  position: relative;
}
.flexHorizontal{
  display:flex;
  justify-content: space-evenly;
}
.background{
  width:101.5%;
  height:100%;
  background-color: rgba(36,36,36,0.5);
  position:absolute;
  z-index: 1;
  backdrop-filter: blur(3px);
}
.overlay{
  position: absolute;
  z-index: 0.5;
  display: flex;
  align-items: center;
  top:50%;
  left:50%;
  transform:translate(-50%,-60%);
  color:white;
  padding:0.5rem;
  border-radius: 0.5rem;
}
.scrollTable{
  max-height: 30rem;
  position: relative;
  margin: 1rem;
  background-color: rgb(20,20,20);
  border-radius: 2rem;
  border: 2px solid rgb(74, 74, 74);
  max-width: 95vw;
  overflow: scroll;
}
td, th{
  border: 1px solid rgb(74, 74, 74);
  padding:0.8rem;
  min-width: 100%;
}
table{
  border-collapse: collapse;
  max-width: 95vw;
  overflow: auto;
}
table>{
  display: flex;
  flex-wrap: wrap;
}
th{
  width: 8rem;
}
td{
  max-width: 3rem;
  overflow: scroll;
}
td.poop{
  min-width: 15rem;
  display: flex;
}
td.pee{
  min-width: 15rem;
}
.form{
  background: radial-gradient( rgba(20,10,10, 1), rgba(20, 20, 20, 1));
  color: white;
  padding: 1rem;
  border: 0.15rem solid rgba(168, 168, 168, 0.8);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  min-width: 30rem;
  min-height: 23rem;
}
.diagonal-rectangle {
  position: absolute;
  width: 68rem; 
  height: 2rem;
  background: linear-gradient(to right, rgba(155,155,155, 0.5), rgba(36, 36, 36, 0)); /* Adjust the color and opacity */
  transform: rotate(17deg) translate(-43rem, 7rem);
  z-index: 1;
}
.diagonal-rectangle:nth-child(1) {
  top: 0; 
  left: 0; 
}
.diagonal-rectangle:nth-child(2) {
  top: -0.5rem; 
  left: 0; 
  height:1rem;
}
.diagonal-rectangle:nth-child(3) {
  top: -0.1rem; 
  left: 0;
  height:1rem;
}
.diagonal-rectangle:nth-child(4) {
  top: -0.3rem;
  left: 0; 
  height:0.3rem;
}
.diagonal-rectangle:nth-child(5) {
  top: -0.3rem;
  left: 0; 
  height:0.3rem;
  transform: rotate(17deg) translate(-43rem, 7rem);
}
.diagonal-rectangle:nth-child(6) {
  top: -0.3rem;
  left: 0; 
  height:0.3rem;
  transform: rotate(17deg) translate(-43rem, 10rem);
}
input[type='search']{
  min-height: 2rem;
  border-radius: 0.5rem;
  min-width: 15.1rem;
}
input{
  min-height: 2rem;
  border-radius: 0.5rem;
  max-width: 4rem;
  font-size: 1rem;
}
input[type='search']{
  min-height: 3rem;
  border-radius: 0.5rem;
  width: 15rem;
  background-color: rgba(0,0,0,0);
  border-color: transparent;
  color:black;
  outline:none;
}
.separator{
  min-height: 0.1rem;
  max-height: 0.1rem;
  min-width: 90%;
  background:rgba(168, 168, 168, 0.5);
}
select{
  max-width: 5rem;
  text-align: center;
}
.formRow{
  display: flex;
  justify-content: space-evenly;
  gap:5rem;
  margin:0.5rem;
}
Button[type='search']{
  border-radius: 1.5rem;
  height: 2.5rem;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.headerOption{
  min-height: 2.7rem;
  min-width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1;
  z-index: 2;
}
.searchContainer{
  display: flex;
  background: white;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  padding-left:0.4rem;
  padding-right: 0.4rem;
  width: 17.5rem;
}
.none .separator{
  min-width: 30rem;
}
.all{
  position:relative;
  display: flex;
  flex-direction: column;
  gap:2rem;
  align-items: center;
  min-height: 100vh;
  padding: none;
}
.loading{
  z-index: 2;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  padding: 2%;
  left:-1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(36, 36, 36, 0.5);
  backdrop-filter: blur(3px);
}
.container{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  border-radius: 2rem;
  min-width:4rem;
  max-width: 19rem;
  background:white;
  border:2px solid black;
}
.wrapper{
  display:flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}
.nav{
  z-index: 4;
  position: sticky;
  top:4rem;
  display: flex;
  justify-content: flex-end;
  transform: translateX(0%);
  transition: transform 0.3s ease;
}
.sidebar{
  position:absolute;
  width:25%;
  height:100vh;
  background: black;
  top:0;
  right:0;
  transform: translateX(0);
  transition: transform 0.3s ease;
}
.sidebarContents{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 30%;
  padding:0.5rem;
}
.slide{
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.navSlide{
  transform: translateX(-25%);
  transition: transform 0.3s ease;
}
svg{
  cursor:pointer;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
form input{
  min-width: 10rem;
}
.clickMe{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.flexV{
  display:flex;
  flex-direction: column;
  gap:1rem;
}
.formHeader{
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem;
}
.menuCard{
  height: 65vh;
  aspect-ratio: 7/7.5;
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;  
  min-width:39.65vh;
  background-color: var(--default-bg);
  transition: transform 0.5s, background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}
.menuCard:hover{
  transform: scale(1.06);
  z-index: 2;
  transition: transform 0.5s, background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menuCard:hover > div[type='outer']{
  background: var(--text-bg);
  text-shadow: var(--text-shdw);
  transition: 0.5s;
}
.menuCard#search > div[type='outer']{
  background: none;
  text-shadow: none;
}
.menuCard:hover > .division{
  background: var(--div);
  transition: 0.5s;
  opacity: 1;
  height:1.5%;
}
.menuCard:hover > .aboveDivision{
  opacity: 1;
  height: 100%;
  transition: 0.5s;
}
.menuCard .diagonal-rectangle2{
  transform: rotate(35deg) translateY(76%) translateX(-700%);
  width:2%;
  height:50%;
  margin: 0.2%;
  opacity: 0;
  transition: 0.2s;
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2{
  opacity: 1;
  transition: opacity 0.5s;
}
.menuCard:hover .diagonal-rectangle2:nth-child(2){
  transform: rotate(35deg) translateY(36%) translateX(-700%);
  width:2%;
  height:70%;
  margin: -10%;
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(3){
  width:2%;
  height:30%;
  margin: 2%;
  transform: rotate(35deg) translateY(100%) translateX(-700%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(4){
  width:2%;
  height:30%;
  margin: 0%;
  transform: rotate(35deg) translateY(100%) translateX(-700%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(9){
  width:2%;
  height:30%;
  margin: 0%;
  transform: rotate(35deg) translateY(100%) translateX(-900%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(10){
  width:2%;
  height:30%;
  margin: 0%;
  transform: rotate(35deg) translateY(80%) translateX(-600%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(11){
  width:1.5%;
  height:20%;
  margin: 0%;
  transform: rotate(35deg) translateY(120%) translateX(-910%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(12){
  width:1.5%;
  height:20%;
  margin: 0%;
  transform: rotate(35deg) translateY(150%) translateX(-1250%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(13){
  width:3%;
  height:10%;
  margin: 0%;
  transform: rotate(35deg) translateY(270%) translateX(-850%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(14){
  width:1%;
  height:10%;
  margin: 0%;
  transform: rotate(35deg) translateY(270%) translateX(-2400%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(15){
  width:1%;
  height:10%;
  margin: 23%;
  transform: rotate(35deg) translateY(270%) translateX(-2400%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(16){
  width:1%;
  height:10%;
  margin: 0%;
  transform: rotate(35deg) translateY(270%) translateX(-2450%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(17){
  width:1%;
  height:20%;
  margin: 0%;
  transform: rotate(35deg) translateY(150%) translateX(-2200%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(18){
  width:1%;
  height:10%;
  margin: 0%;
  transform: rotate(35deg) translateY(270%) translateX(-2400%);
  background: var(--secondary-bg);
}
.menuCard:hover .diagonal-rectangle2:nth-child(19){
  width:0.5%;
  height:5%;
  margin: 0%;
  transform: rotate(35deg) translateY(10%) translateX(-7000%);
  background: var(--secondary-bg);
}
.aboveDivision{
  background: var(--main-bg);
  height: 50%;
  min-width: 100%;
  transition: 0.5s;
  opacity: 0;
  margin-bottom: -0.1rem;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: absolute;
}
div[type='outer']{
  background: var(--txt-bg-default);
  min-width: 100%;
  min-height: 20%;
  display:flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  font-size: 1.3rem;
}
.menuCard{
  min-height: 100%;
  aspect-ratio: 1/2;
}
:root {
  --main-bg: linear-gradient(to top, rgba(30, 40, 180, 0.8) 15%, rgba(30, 40, 180,0.7) 20%, rgba(33, 34, 60,0.1) 35%,rgba(36,36,36,0) 40%); 
  --secondary-bg: linear-gradient(to top, rgba(40,80,200, 0.8), rgba(40,80,200, 0.8), rgba(0,0,0,0)); 
  --div: var(--nice-yellow);
  --default-bg: rgb(30, 30, 30);
  --nice-yellow: var(--lightning-blue);
  --lightning-blue: rgb(40, 80, 255);
  --text-bg: rgba(30,30,30, 1);
  --text-shdw: 2px 1px 2px black;
  --txt-bg-default: linear-gradient(to top, rgb(50, 48, 48), rgba(36, 36, 36, 0));
}
.division{
  max-height:1%;
  width:100%;
  transition: 0.5s;
  position: absolute;
  opacity: 0;
  transition: 1.5s;
}
@media (max-width:40rem) {
  .menuCard#search{
    order:3; 
  }
  .aboveDivision{
  }
  .menuCard:hover .division{
    transition: 0.5s;
    opacity: 1;
  }
  .menuCard{
    height:32vh;
    min-width:12rem;
    min-height:auto;
    margin-top: -0.1rem;
    margin-bottom: -0.1rem;
  }
  div[type='outer']{
    height:25%
  }
  #searchImg{
    margin-bottom: -10%;
    min-height:120%;
  }
  .menuCard:hover{
    transform: scale(1.08);
    transition: transform 0.5s, background 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .menuCard#search .diagonal-rectangle2{
    max-width:0.4rem;
    max-width:auto;
  }
  .menuCard#search .diagonal-rectangle2{
    transform: rotate(35deg) translateY(76%) translateX(-700%);
    width:2%;
    height:60%;
    margin: 0.2%;
    opacity: 0;
    transition: 0.2s;
    background: var(--secondary-bg);
  }
  .menuCard#search:hover .diagonal-rectangle2{
    opacity: 0;
    transition: opacity 0.5s;
  }
  .mainDrug{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainDrugCard{
    flex-direction: column;
    gap:1rem
  }
}
.menuCard#search:hover .diagonal-rectangle2{
  opacity: 0;
  transition: opacity 0.5s;
}
.menuCard#search{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.homeLayout{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:0.7rem;
  width: 93vw;
}
.secondaryCard{
  height:6rem;
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  min-width:25rem;
  background: var(--default-bg);
  transition: 0.5s;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor:pointer;
  transition: 0.5s;
}
.secondaryCard:hover{
  transform: scaleY(1.06) scaleX(1.02);
  background: rgb(180, 120, 50);
  transition: 0.5s;
}
.secondaryCard div[type='outer']{
  background: none;
}
.fade{
  transition: 0.5s;
}
.HomeTitle{
  font-weight: bold;
  font-size: larger;
  position:absolute;
  width:100%;
  height:4rem; 
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 2.2rem;
  margin-bottom:1rem;
  margin-right: 1rem;
}
.HomeTitle > * {
  font-size: 1rem;
  padding-left: 0.5rem;
  text-align: left;
  font-weight: 400;
  font-style: italic;
}
.subtext{
  margin-bottom: -0.5rem;
}
.candlesContainer{
  display: flex;
  justify-content: center;
  align-items:self-end;
  overflow: hidden;
  flex-wrap: nowrap;
  transform: translateY(-40%);
  z-index: -1;
}
.customTd{
  max-height: 8rem;
  min-width: 4rem;
  overflow: auto;
}
.scrollTable#calendar td .customTd{
  min-width: 8rem;
  max-width: auto;
}
.scrollTable#calendar td{
  max-width: 100%;
}
.ratioContainer div, .indication{
  margin:0.1rem;
  padding: 0.1rem;
  background:rgb(40,55,160);
  border-radius: 0.2rem;
  width:13rem;
  height:100%; 
}
.ratioContainer, .indicationContainer{
  max-width: 89vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mainDrugCard{
  max-width: 95vw;
  display:flex;
  justify-content: center;
  align-items: center;
}
.calendarTitle{
  font-size: 2rem;
}
.calendarDesc{
  max-width: 80vw;
  margin:1rem;
}
.scrollTable thead{
  background: rgb(50, 50, 50);
}
tr:hover{
  background: rgba(40, 40, 255, 0.5);
}